<div align="center">
    <font size = 3 color="orange" style="font-family: 'Comic Sans MS'">// ज्ञानं परमं बलम् //</font><br>
</div>
<img src = "https://www.python.org/static/community_logos/python-logo-master-v3-TM.png" width="50%" height="50%">
<div align="center" id="contents"> <font size="5" color="orange"><b>PYTHON PROGRAMMING LANGUAGE</b></font> </div>

<div align="left"> <font size="4" color="red"><b>TABLE OF CONTENTS</b></font> </div>
<ul type="square">
    <li>Control Flow and Loops</li>
    <ul type="square">
        <li>if-elif-else</li>
        <li>'for' loop</li>
        <li>'while' loop</li>
    </ul>
    <li>Functions</li>
</ul>

<b>Generic tips for writing functions -</b>
<font color="green"><ul type="square">
    <li>Thoroughly understand what is going to be the input and output of the function</li>
    <li>Assume some random value of each of the inputs and create variables for the same</li>
    <li>Think about how you as a human will get to the output. List down the steps you will have to follow. This will help you break down the requirement into smaller components</li>
    <li>Write code for each of the components or steps. Try to use inbuilt or module based pre-defined functions. Remember to keep things as simple as possible</li>
    <li>Verify you are getting the correct output using the random inputs you assumed in step 2</li>
    <li>If the output is correct, convert the code into a function</li>
    <li>Do test your function with new values of all the parameters</li>
</ul>
</font>

<b>Q1.</b> Write a function 'list_sum(lst)' to sum up elements of a given list e.g.<br>
list_sum([1,2,3,4]) should give 10<br>
list_sum([1,2,3,4,5]) should give 15

In [1]:
def list_sum(a):
    b = 0 
    for i in a:
        b = b+i
    return b
print(list_sum([1,2,3,4]))
print(list_sum([1,2,3,4,5]))

10
15

<b>Q2.</b> Write a function 'list_extremes(lst, option)' to get maximum or minimum element of a given list depending on what user wants e.g.<br>
list_extremes([4,5,3,7,1], 'min') should give 1<br>
list_extremes([4,5,3,7,1], 'max') should give 7

In [2]:
def list_extremes(a, option):
    b = a[0]
    for i in a:
        if option == 'max':
            if b<i:
                b = i
            else:
                b = b

        if option == 'min':
            if b>i:
                b = i
            else:
                b = b
    return b 
print(list_extremes([4,5,3,7,1], 'min'))
print(list_extremes([4,5,3,7,1], 'max'))

1
7

<b>Q2.a.</b> Can you also find top N largest and smallest elements from a list e.g.<br>
list_extremes([4,5,3,7,1,2,8,9,6], 'min', 3) = [1,2,3]<br>
list_extremes([4,5,3,7,1,2,8,9,6], 'max', 4) = [6,7,8,9] = 42

In [3]:
def list_extremes(lst, option, n):
    if option == 'min':
        lst.sort(reverse = False)
    if option == 'max':
        lst.sort(reverse = True)
    return lst[0:n]
    
print(list_extremes([4,5,3,7,1,2,8,9,6], 'min', 3))
print(list_extremes([4,5,3,7,1,2,8,9,6], 'max', 4))

[1, 2, 3]
[9, 8, 7, 6]

<b>Q3.</b> Write a function 'list_mean(lst)' to find mean or average of elements of a given list e.g.<br>
list_mean([1,2,3,4]) should give 2.5<br>
list_mean([1,2,3,4,5]) should give 3<br>

In [4]:
def list_mean(lst):
    return list_sum(lst)/len(lst)
print(list_mean([1,2,3,4]))
print(list_mean([1,2,3,4,5]))

2.5
3.0

<b>Q4.</b> Write a function 'factorial(n)' to find factorial of a given positive number using (a) for loop (b) while loop e.g.<br>
factorial(5) = 5x4x3x2x1 = 120<br>
factorial(6) = 6x5x4x3x2x1 = 720

In [5]:
def factorial(n):
    m = 1
    while n>1:
        m = m*n
        n = n-1
    return m
print(factorial(5))
print(factorial(6))

120
720

<b>Q5.</b> Write a function 'multiples(lst, start, end)' to find the sum of all numbers between 'start' and 'end'(both included) which are multiple of ANY of the numbers inside the list 'lst' e.g.<br>
multiples([2,3], 0, 10) = 2+3+4+6+8+9+10 = 42<br>
multiples([7,5], 10, 40) = 14+15+20+21+25+28+30+35+40 = 238

In [6]:
def multiples(lst,start,end):
    b = []
    for i in range(start,end+1):
        for j in lst:
            if i%j == 0:
                b.append(i)
    return sum(set(b))
print(multiples([2,3], 0, 10))
print(multiples([7,5], 10, 40))

42
238

<b>Q6.</b> Write a function 'is_prime(n)' to find if a given number is prime or not e.g.<br>
is_prime(23) = True<br>
is_prime(100) = False<br>
Find the sum of prime numbers between 1 and 1000.

In [7]:
def is_prime(n):
    if n==1: return False
    for i in range(2,n):
        if n%i == 0:
            return False
    return True
is_prime(23), is_prime(100)

(True, False)

In [8]:
sum([i for i in range(1,1001) if is_prime(i)==True])

76127

<b>Q7.</b> Fibonacci series starts with two numbers 0 and 1 and each subsequent number is a sum of previous two numbers. Write a function 'fibonacci(n)' to print first 'n' fibonacci numbers e.g.<br>
fibonacci(5) = 0,1,1,2,3<br>
fibonacci(11) = 0,1,1,2,3,5,8,13,21,34,55

In [9]:
def fibonacci(n):
    fib = [0,1]
    for i in range(n-2):
        fib.append(fib[-2]+fib[-1])
    return fib
print(fibonacci(5))
print(fibonacci(11))

[0, 1, 1, 2, 3]
[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55]

<b>Q8.</b>Write a function 'ssq(n)' to get the sum of squares of first n natural numbers e.g.<br>
ssq(3) = 1^2 + 2^2 + 3^2 = 1+4+9 = 14<br>
ssq(5) = 1^2 + 2^2 + 3^2 + 4^2 + 5^2= 1+4+9+16+25 = 55

In [10]:
def ssq(n):
    tot = 0
    for i in range(n):
        tot += (i+1)**2
    return tot
print(ssq(3))
print(ssq(5))

14
55

<b>Q9.</b> Similar to Q8 above, write a function 'sum_of_mth_power(n,m)' to find sum of mth power of first n natural numbers e.g.<br>
sum_of_mth_power(5,2) = 1^2 + 2^2 + 3^2 + 4^2 + 5^2= 1+4+9+16+25 = 55<br>
sum_of_mth_power(5,3) = 1^3 + 2^3 + 3^3 + 4^3 + 5^3= 1+8+27+64+125 = 225

In [11]:
def sum_of_mth_power(n,m):
    tot = 0
    for i in range(n):
        tot += (i+1)**m
    return tot
print(sum_of_mth_power(5,2))
print(sum_of_mth_power(5,3))

55
225

<b>Q10.</b> Write a function vowel_consonent_count(s) to count how many vowels and consonents are there in the string 's' e.g.<br>
vowel_consonent_count("Hello World!") = [3, 7]<br>
vowel_consonent_count("Barack Obama") = [5, 6]

In [12]:
def vowel_consonent_count(s):
    vowels = "aeiou"
    v_cnt = 0
    c_cnt = 0
    for c in s:
        if c.isalpha() and c in vowels:
            v_cnt += 1
        if c.isalpha() and c not in vowels:
            c_cnt += 1
    return [v_cnt, c_cnt]
print(vowel_consonent_count("Hello World!"))
print(vowel_consonent_count("Barack Obama") )

[3, 7]
[4, 7]

<b>Q11.</b> Write a function letter_frequency(s) to store frequency of each letter in the string 's' with keys are distinct letters in the string and values as the count of occurence of each letter. Treat lowercase and uppercase as same i.e. a and A should be counted as same e.g.<br>
letter_frequency("Barack Obama") = {'b':2, 'a':4, 'r':1, 'c':1, 'k':1, ' ':1,'o':1, 'm':1}

In [13]:
def letter_frequency(s):
    d = {}
    for c in s.lower():
        if c in d.keys():
            d[c] += 1
        else:
            d[c] = 1
    return d
print(letter_frequency("Barack Obama"))

{'b': 2, 'a': 4, 'r': 1, 'c': 1, 'k': 1, ' ': 1, 'o': 1, 'm': 1}

<b>Q11.b.</b> Using the function letter_frequency(s), can you print the letters which occur multiple times in string 's'. Call this function duplicated_letters(s) e.g.<br>
duplicated_letters("Barack Obama") = ['b', 'a']<br>
duplicated_letters("Utsav Awasthi") = ['t', 's', 'a']<br>

In [14]:
def duplicated_letters(s):
    d = letter_frequency(s)
    return [c for c in d.keys() if d[c] > 1]
print(duplicated_letters("Barack Obama"))
print(duplicated_letters("Utsav Awasthi"))

['b', 'a']
['t', 's', 'a']

<b>Q12.a.</b> Use for loop to print the follow pattern:<br>
<div>
*<br>
**<br>
***<br>
****<br>
*****<br>
</div>

In [15]:
n = 5
for i in range(n):
    print("*"*(i+1) + " "*(n-i-1))

*
**
***
****
*****

<b>Q12.b.</b> Use for loop to print the follow pattern:<br>
<div>
*****<br>
****<br>
***<br>
**<br>
*<br>
</div>

In [16]:
n = 5
for i in range(n):
    print("*"*(n-i) + " "*(i+1))

*****
****
***
**
*

<b>Q12.c.</b> Use for loop to print the follow pattern:<br>
<div>
*****<br>
&nbsp;****<br>
&nbsp;&nbsp;***<br>
&nbsp;&nbsp;&nbsp;**<br>
&nbsp;&nbsp;&nbsp;&nbsp;*<br>
</div>

In [17]:
n = 5
for i in range(n):
    print(" "*(i+1) + "*"*(n-i))

 *****
  ****
   ***
    **
     *

<b>Q12.d.</b> Use for loop to print the follow pattern:<br>
<div>
&nbsp;&nbsp;&nbsp;&nbsp;*<br>
&nbsp;&nbsp;&nbsp;**<br>
&nbsp;&nbsp;***<br>
&nbsp;****<br>
*****<br>
</div>

In [18]:
n = 5
for i in range(n):
    print(" "*(n-i-1) + "*"*(i+1))

    *
   **
  ***
 ****
*****

<b>Q12.e.</b> Convert above examples to a function 'print_stars(n) which takes an integer 'n' as input and prints stars from 1 to n in separate lines. The above examples are for n=5.

In [19]:
def print_stars(n):
    for i in range(n):
        print(" "*(n-i-1) + "*"*(i+1))
print_stars(6)

     *
    **
   ***
  ****
 *****
******

<font size = 10 color="green">"</font><br>
<div align = center> 
    <font size = 5 color="green" style="font-family: 'Comic Sans MS'">Pass on what you have learned</font><br>
</div>
<div align = right> 
    <font size = 10 color="green"t>"</font><br>
</div>
<img align = "right" src = "https://orig00.deviantart.net/ff5e/f/2013/102/4/4/yoda_by_valval-d61g9rh.png" width="20%" height="20%">